__pycache__/
*.pyc
*.pyo
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.spec
*.zip
*.bak.*
*.bak.*/
.git/
.gitignore
README.md
.env
.idea/
.vscode/
data/pubmed/
data/nct/
data/rewritten/
data/abstract_outcomes/
data/prebuilt/pubmed_index.json
data/prebuilt/nct_index.json
deployment/
