__pycache__/
*.pyc
*.pyo
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.spec
*.zip
*.bak.*
*.bak.*/
.env
.direnv/
.idea/
.vscode/
data/intermediate/
data/pubmed/
data/nct/
data/rewritten/
data/abstract_outcomes/
